@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  overflow-x: auto;
}

.invoive_mian_wrap {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.invoice_wrap_download {
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  width: 510px;
  margin: 0 auto;
  max-width: 100%;
}
.invoice_wrap_download .pay_icon {
  display: block;
  margin: 0 auto;
  width: 65px;
  height: auto;
  margin-top: -50px;
  margin-bottom: 10px;
}
.invoice_wrap_download .invoice_logo img {
  width: 120px !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.invoice_wrap_download .invoice_title {
  text-align: center;
  border-bottom: 2px dashed #efefef;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.invoice_wrap_download .invoice_title h4 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.invoice_wrap_download .invoice_title p {
  margin-bottom: 0;
}
.invoice_wrap_download .payment_wrap {
  text-align: center;
  margin-bottom: 20px;
}
.invoice_wrap_download .payment_wrap p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.invoice_wrap_download .payment_wrap h5 {
  font-size: 30px;
  line-height: 29px;
  font-weight: 700;
  color: #b31829;
  margin-bottom: 0;
}
.invoice_wrap_download .eoi_wrap {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 20px;
  border: 2px dashed #e6e6e6;
  text-align: center;
  margin-bottom: 20px;
}
.invoice_wrap_download .eoi_wrap img {
  height: auto;
  width: 150px;
}
.invoice_wrap_download .invoice_payment_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.invoice_wrap_download .invoice_payment_details .details_single {
  border: 1px solid #efefef;
  border-radius: 15px;
  padding: 10px;
}
.invoice_wrap_download .invoice_payment_details .details_single .p_key {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
  color: #7f7f7f;
}
.invoice_wrap_download .invoice_payment_details .details_single .p_value {
  margin-bottom: 0;
  font-size: 16px;
  color: #4b4d52;
}

.invoice_template_wrap {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid #bcbcbc;
}

.invoice_header {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #bcbcbc;
}
.invoice_header .invoice_logo_wrap img {
  width: 150px;
  height: auto;
  display: block;
}

.invoice_address_wrap {
  text-align: center;
}
.invoice_address_wrap .invoice_title {
  font-family: var(--primary-font);
  color: #b31829;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.invoice_address_wrap .invoice_gst {
  display: inline-block;
  border: 1px dashed #d4d4d4;
  background: #f8f8f8;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.invoice_address_wrap .invoice_gst span {
  font-weight: 700;
}
.invoice_address_wrap .invoice_address {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.invoice_body {
  padding: 20px;
  border-bottom: 1px solid #bcbcbc;
}

.invoice_body_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.invoice_body_top .bill_to{
  max-width:50% ;
}
.invoice_body_top .bill_to h5 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.bodyHeading{
text-align: center;
font-weight: 800;
}
.invoice_body_top .bill_to .bill_name {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 7px;
}
.invoice_body_top .bill_to .bill_address {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.invoice_body_top .invoice_payment {
  text-align: right;
}
.invoice_body_top .invoice_payment p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.invoice_body_top .invoice_payment p span {
  font-weight: 600;
}
.invoice_body_top .invoice_payment p:last-child {
  margin-bottom: 0;
}

.invoice_table thead tr {
  border-top: 1px dashed #d4d4d4;
  border-bottom: 1px dashed #d4d4d4;
}
.invoice_table thead tr th {
  padding: 10px 8px;
  font-size: 14px;
  font-weight: 600;
}
.invoice_table tbody tr td {
  padding: 10px 8px;
  font-size: 14px;
  border-bottom: 1px dashed #d4d4d4;
}
.invoice_table tbody tr td img {
  width: 100px;
}

.invoice_body_bottom {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.invoice_payment_summary {
  text-align: right;
}
.invoice_payment_summary p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.invoice_payment_summary p span {
  font-weight: 600;
}
.invoice_payment_summary p:last-child {
  margin-bottom: 0;
}

.invoice_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0;
}
.invoice_footer .invoice_footer_left {
  width: 65%;
  max-width: 100%;
}
.invoice_footer .invoice_footer_left .rera_wrap {
  /* display: flex; */
  align-items: center;
}
.invoice_footer .invoice_footer_left .rera_wrap img {
  width: 100px;
  margin-right: 30px;
}
.invoice_footer .invoice_footer_left .rera_wrap .rera_dis {
  margin-bottom: 0;
}
.invoice_footer .invoice_footer_right img {
  width: 250px;
}

.invoice_copy {
  padding: 10px 30px 30px;
}
.invoice_copy p {
  margin-bottom: 0;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: auto;
}
th {
  background-color: #f2f2f2;
}

th {
  text-align: center;
}

.invoice_btn_wrap {
  display: flex;
}
.invoice_btn_wrap .btn_item {
  margin-right: 40px;
}
.css-nt424e-MuiPaper-root-MuiAccordion-root {
  border: 1px solid #000;
}

.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: gainsboro;
}
.css-eqpfi5-MuiAccordionSummary-content {
  align-items: center;
  justify-content: space-between;
}

.add-icon {
  justify-content: start !important;
}
